{% extends "base.html" %}

{% block content %}
<h1>About Me</h1>

<p>
    I am an IT student at West Texas A&M University with an interest in computers,
    networking, and web development. I enjoy learning how different technologies
    work and using that knowledge to solve problems. In my free time, I like
    playing video games, listening to music, and spending time with my cat. My
    goal is to continue developing my technical skills and build a career in the
    IT field.
</p>
{% endblock content %}